.yid-form-quil {
  @apply relative overflow-y-auto h-full;
  @include themify($themes) {
    --stroke-colour: themed('paragraph');
    --fill-colour: themed('text');
    --picker-label-colour: themed('paragraph');
    --editor-placeholder-colour: themed('paragraph');
  }
  .quill {
    @apply relative h-full pb-14;
    @apply border overflow-hidden rounded-xl;

    @include themify($themes) {
      border: 1px solid themed('input-border') !important;
      background: themed('input-background');
    }

    .ql {
      &-toolbar {
        @apply absolute top-0 z-10 h-14 w-full  border-t-0 border-l-0 border-r-0;
        @include themify($themes) {
          border-color: themed('input-border') !important;
        }
      }

      &-container {
        @apply relative z-0 mt-14 border-none;
      }

      &-editor {
        @apply mt-14;
      }
    }
  }
}


