.core-form-quil{
  height:100% !important;
  max-height: calc(100vh - 200px - $header-height);
  overflow-y: auto;
  --stroke-colour: white;
  --fill-colour: white;
  --picker-label-colour: white;
  --editor-placeholder-colour: white;
  padding-bottom: 60px;
  .ant{
    &-form{
      &-item{
        &-control{

          height: 100%;

          &-input{
            height: inherit !important;
            .quill{

            }
            > div {
              height: inherit !important;
              //overflow-x: hidden;

              .ql{

                &-toolbar{

                  position: absolute;
                  top: 0;

                  background: transparent;
                  display: flex;
                  justify-content: start;
                  width: 100%;
                  border: none;
                  left: 0;


                  @include themify($themes){
                    background: themed('card-background') !important;
                    border-bottom: 1px solid themed('card-border');
                    color: themed('text') !important;
                  }

                  > span{
                    > button {
                      min-width: 30px !important;
                    }
                    > span, > select {
                      min-width: 35px;
                      height: 30px;
                    }
                    width: 100%;
                    display: inline-flex;;

                  }
                }
                &-container{
                  margin-top: 50px;
                  border:none !important;
                  *{
                    @include themify($themes){
                      color: themed('text') !important;
                      &::placeholder{
                        font-size: 20px !important;
                        color: themed('text') !important;
                      }

                      &::before{
                        color: themed('text') !important;
                      }
                    }
                  }
                }
              }
              .quill{
                height: 100%;
                border: none !important;

                .ql{

                  &-picker{
                    &-options{
                      @include themify($themes){
                        background: themed('quil-base') !important;
                        color: themed('text') !important;
                      }
                    }
                  }
                  &-formats{
                    button {
                      margin:0 2px;
                    }
                  }
                  &-toolbar{
                    //border:1px solid red !important;
                    //*{
                    //  @include themify($themes){
                    //    color: themed('text') !important;
                    //    fill: themed('text') !important;
                    //  }
                    //}
                  }
                }
              }
            }
          }
        }
      }
    }
    &-row{

      height: 100%;
    }
  }
}


