@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@layer utilities {
  .\!w-full {
    @apply \!w-full;
  }

  .\!ml-0 {
    @apply \!ml-0;
  }
}

@layer base {
  input, select, textarea, button {
    all: unset; /* Menghapus semua gaya default dari elemen ini */
  }

  /* Optional: Anda bisa tambahkan gaya dasar yang Anda inginkan atau membiarkannya */
  input, select, textarea, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    border: none;
    outline: none !important;
    box-shadow: none !important;
    &:focus{
      outline: none !important;
      box-shadow: none !important;
    }
  }
}


$group_hover: (
  transform: (
    scale: (
      0: scale(0),
      10: scale(.1),
      20: scale(.2),
      30: scale(.3),
      40: scale(.4),
      50: scale(.5),
      60: scale(.6),
      70: scale(.7),
      80: scale(.8),
      90: scale(.9),
      100: scale(1),
      110: scale(1.1),
    ),
  ),
);

$scale: (
  0: scale(0),
  10: scale(.1),
  20: scale(.2),
  30: scale(.3),
  40: scale(.4),
  50: scale(.5),
  60: scale(.6),
  70: scale(.7),
  80: scale(.8),
  90: scale(.9),
  100: scale(1),
  110: scale(1.1),
);
.scale {
  @each $key, $values in $scale {
    &-#{$key} {
      transform: $values !important;
    }
  }
}

.group-hover {

  @each $key, $values in $group_hover {
    @each $k2, $v2 in $values {
      @each $k3, $v3 in $v2 {
        &\:#{$k2}-#{$k3} {
          &:hover {
            #{$key}: $v3 !important;
          }
        }
      }
    }
  }
}

.transition {
  transition: ease-in-out !important;
}

.duration-200 {
  transition-duration: .2s !important;
}
