@font-face {
  font-family: "sf-pro-italic";
  src: url('/fonts/SFPRODISPLAYBLACKITALIC.otf');
}

@font-face {
  font-family: "sf-pro-bold";
  src: url('/fonts/SFPRODISPLAYBOLD.otf');
}
@font-face {
  font-family: "sf-pro-heavy-italic";
  src: url('/fonts/SFPRODISPLAYHEAVYITALIC.otf');
}
@font-face {
  font-family: "sf-pro-regular";
  src: url('/fonts/SFPRODISPLAYREGULAR.otf');
}
@font-face {
  font-family: "sf-pro-medium";
  src: url('/fonts/SFPRODISPLAYMEDIUM.otf');
}
@font-face {
  font-family: "sf-pro-semibold-italic";
  src: url('/fonts/SFPRODISPLAYSEMIBOLDITALIC.otf');
}
@font-face {
  font-family: "sf-pro-lightthin-italic";
  src: url('/fonts/SFPRODISPLAYULTRALIGHTITALIC.otf');
}
