@import 'font';
@import 'variables';
@import 'mixin';
@import 'function';


$themes: (
  light: (
    divider: rgba(241, 241, 241, 0.37),
    post-bg: #fff,
    text: $text-color,
    paragraph: $text-paragraph,
    paragraph-light: lighten($text-paragraph, 20),
    text-placeholder: $text-color-placeholder,
    text-label: lighten($text-color, 40),
    text-label-value: $text-color,
    body: $bg-layout,
    border-dashboard: lighten($text-color, 65),
    header-background: $bg-header,
    sider-background:$bg-sider,

    menu-active-selected-only: lighten($bg-layout, 3),
    menu-active-selected-color-only: var(--ant-color-primary-hover),
    menu-active: var(--ant-color-primary-text),
    menu-active-bg: var(--ant-color-primary-bg),
    menu-active-bg-hover: var(--ant-color-primary-bg-hover),
    menu-active-before: var(--ant-color-primary),
    menu-item: $menu-color,
    menu-group: $menu-color-group-title,
    menu-sub: transparent,
    menu-sub-title-active: var(--ant-color-primary),

    footer-background: $bg-footer,
    background-drawer: $bg-drawer,
    btn-background: #fff,
    btn-border: #d4d4d4,
    page-header-alt-background: #fff,
    quil-base: #fff,

    checkbox-bg: $checkbox-bg,
    checkbox-border: $checkbox-border,

    card-background: #fff,
    card-border: #e5e5e5,
    card-table-border: rgba(231, 231, 231, 0.64),
    input-background:$bg-input,
    input-background-disabled: #F5F5F5,
    input-background-error: $bg-input-error,
    input-text-error: $text-input-error-dark,
    input-border: $border-input,
    input-text-disabled: $text-color-placeholder,
    table-header: $bg-table-header,
    table-bordered: $table-bordered,
    bcrumb-color:#b8b8b8,

    bcrumb-color-link: #1B2531,
    success: $color-table-row-success,
    success-hover: $color-table-row-success-hover,
    danger: $color-table-row-error,
    info: $color-table-row-info,
    warning: $color-table-row-warning,
    disabled: $table-table-row-disabled,

    btn-disabled: $button-disabled,
    btn-disabled-border: $button-disabled-border,
    btn-disabled-color: $button-disabled-color,
  ),

  dark: (
    divider: lighten($bg-header-dark, 15),
    border-dashboard: darken($bg-header-dark, 2),
    paragraph: $text-paragraph-dark,
    paragraph-light: darken($text-paragraph-dark, 30),
    text: $text-color-dark,
    text-placeholder: $text-color-placeholder-dark,
    text-label: lighten($text-color-placeholder-dark, 20),
    text-label-value: lighten($text-color-placeholder-dark, 40),

    body: $bg-body-dark,

    header-background: $bg-header-dark,
    sider-background:$bg-sider-dark,

    menu-active-selected-only: lighten($bg-sider-dark, 10),
    menu-active-selected-color-only: var(--ant-color-primary-hover),
    menu-active: var(--ant-color-primary-border),
    menu-active-bg: var(--ant-color-primary),
    menu-active-bg-hover: var(--ant-color-primary-hover),
    menu-active-before: var(--ant-color-primary-border),
    menu-item: $menu-color-dark,
    menu-group: $menu-color-group-title-dark,
    menu-sub:darken($bg-sider-dark,5),
    menu-sub-title-active: var(--ant-color-primary-border-hover),

    footer-background: $bg-footer-dark,
    background-drawer: $bg-drawer-dark,
    btn-background: $bg-body-dark,
    btn-border: lighten($bg-body-dark, 5),
    page-header-alt-background: $bg-sider-dark,
    quil-base: darken($bg-card-dark, 5),
    table-header: $bg-table-header-dark,
    table-bordered: $table-bordered-dark,

    checkbox-bg: $checkbox-bg-dark,
    checkbox-border: $checkbox-border-dark,

    card-background: $bg-card-dark,
    card-border: $bg-card-dark,
    card-table-border: $bg-input-dark,

    input-border: $border-input-dark,
    input-background: $bg-input-dark,
    input-background-disabled: #34465b,
    input-background-error: $bg-input-error-dark,
    input-text-error: $text-input-error-dark,
    input-text-disabled: #58718f,

    bcrumb-color: #52688d,
    bcrumb-color-link: #87a1cd,

    success: darken($color-table-row-success, 20),
    success-hover: darken($color-table-row-success, 20),
    danger: darken($color-table-row-error, 20),
    info: darken($color-table-row-info, 20),
    warning: $color-table-row-warning-dark,
    disabled: $table-table-row-disabled,

    btn-disabled: $button-disabled-dark,
    btn-disabled-border: $button-disabled-dark-border,
    btn-disabled-color: $button-disabled-dark-color,
  )
)
