@import "antd/dist/reset.css";
@import "externals/tailwind";
@import "settings";
@import "normalize";
@import "externals";
@import "components";
@import "apps";


body{
  &.dark{
    background: $bg-body-dark !important;
    .app{
      &-main{
        background: $bg-body-dark !important;
      }
    }
  }
  &.light{
    background: $bg-layout !important;
    .app{
      &-main{
        background: $bg-layout !important;
      }
    }
  }
}
