@media screen and (max-width: 768px) {
  .app {
    &-content {
      margin-left: 0 !important;
    }
  }
}

%ant-menu-active {
  @apply relative;
  @include themify($themes) {
    background: themed('menu-active-bg') !important;

    &:hover {
      background: themed('menu-active-bg-hover') !important;
    }
  }
}

@mixin sider_direction($type, $value) {
  #{$type}: $value !important;
}


.ant {
  &-layout {
    &-rtl {
      .app {
        &-sider {
          &.collapsed {
            ~ .app {
              &-content {
                margin-right: $side-width-collapsed !important;
                margin-left: 0 !important;
              }
            }
          }
        }

        &-content {
          margin-left: 0 !important;
          //margin-right: 0 !important;
          margin-right: $side-width !important;
        }
      }
    }
  }
}

.app {
  position: relative;
  min-height: 100vh;
  height: 100%;

  &.page{
    .app{
      &-content{
        &__content{
          padding-bottom: calc($padding-content * 2);
        }
        :where(.app-content__footer){
          margin-top: calc($padding-content*2) !important;
        }
      }
    }
  }
  &.without-sider {
    .app {
      &-content {
        margin: 0 !important;
      }
    }
  }

  .ant {
    &-layout {
      &-header {
        @include themify($themes) {
          background: themed('header-background') !important;
          border-bottom: 1px solid themed('border-dashboard');
          box-shadow: 0 0 10px themed('border-dashboard');
          * {
            color: themed('text')
          }
        }
      }

      &-sider {
        transition: .2s $transition-easy-in-out;
        position: fixed;
        height: calc(100% - $top-height);
        width: $side-width !important;
        max-width: $side-width !important;
        min-width: $side-width !important;

        &-children {
          width: 100%;
          height: 100% !important;
          flex: 1 !important;
        }

        @include themify($themes) {
          background: themed('sider-background') !important;
          border-right: 1px solid darken(themed('sider-background'), 2);
        }
      }
    }
  }

  &-sider {
    z-index: 99;

    &.collapsed {
      transition: .2s $transition-easy-in-out;
      width: $side-width-collapsed !important;
      max-width: $side-width-collapsed !important;
      min-width: $side-width-collapsed !important;

      ~ .app {
        &-content {
          transition: .2s $transition-easy-in-out;
          @media screen and (min-width: 769px) {
            margin-left: $side-width-collapsed !important;
          }
          @media screen and (max-width: 768px) {
            .app {
              &-content {
                :where(.ant-layout-rtl) & {
                  margin-right: 0;
                }

                :not(.ant-layout-rtl) & {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  &-main {
    &-has-topbar{
      .app{
        &-content{
          &__content{
            margin-top: $top-bar;
          }
        }
      }
    }
    &.without-header {
      min-height: 100vh !important;
      height: 100vh !important;
      padding-top: 0 !important;
    }

    min-height: calc(100vh - $top-height) !important;
    padding-top: $top-height !important;
  }

  &-content {
    padding: $padding-content;
    transition: .2s $transition-easy-in-out;
    margin-left: $side-width !important;

    &__content {
      @applu flex flex-col;
      > div {
        &:where(.page-header-alt) {
          margin-bottom: 20px;
        }
      }

      @include themify($themes) {
        background: themed('body') !important;
      }
      transition-timing-function: $transition-easy-in-out;

      &.no-footer {
        min-height: 100%;
      }

      min-height: calc(100% - $footer-height);
    }

    &__footer {
      &.has-container{
        > div {
          @apply max-w-6xl mx-auto;
        }
      }
      @include themify($themes) {
        background: themed('footer-background');
        * {
          color: themed('text') !important;
        }
      }
      width: calc(100% + calc($padding-content * 2));
      height: $footer-height;
      margin-top: $padding-content;
      margin-left: -$padding-content;
      margin-bottom: -$padding-content;
      padding: 0 !important;
    }
  }

  &-header {
    z-index: 99;
    position: fixed;
    padding: 0 !important;
    top: 0;
    left: 0;
    height: $top-height !important;
    width: 100%;

    &-topbar {
      z-index: 99;
      height: $top-bar;
      position: fixed;
      top: 60px;
      width: 100%;
    }

    &.has-container, &.page {
      .nav {
        @apply max-w-6xl mx-auto;
        &-right {
        }

        &-left {
          width: $side-width !important;
          min-width: $side-width;

          > div {
            width: 100% !important;
            @apply px-0 justify-start flex flex-nowrap;
          }
        }
      }
    }

    &.sider-collapsed {
      &:where(:not(.has-container)) {
        .nav {
          &-left {
            width: $side-width-collapsed !important;
          }
        }
      }

    }

    .nav {
      margin: 0;
      height: 100%;

      &-left {
        @media screen and (min-width: 0px) and (max-width: 767px) {
          display: none !important;
        }
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $side-width;
        transition: .2s $transition-easy-in-out;
      }

      &-right {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 7px 14px;
        flex: 1;
      }
    }
  }
}


//menu
.app {
  &-sider {
    @include submenu;
    @include ant-menus;

    &.collapsed {
      .ant {
        &-menu {
          &-item {
            &-group {
              margin-bottom: 0 !important;

              &-title {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.ant-color-picker-trigger-text {
  font-size: 14px !important;
}

.page {
  &-header {
    &-alt {
      width: calc(100% + calc($padding-content * 2));
      padding: $padding-content;
      background: white;
      margin-left: -$padding-content;
      margin-right: -$padding-content;
      margin-top: -$padding-content;
    }
  }
}
