@media screen and (max-width: 768px) {
  .app {
    &-content {
      margin-left: 0 !important;
    }
  }
}

%ant-menu-active {
  @apply relative;
  @include themify($themes) {
    background: themed('menu-active-bg') !important;

    &:hover {
      background: themed('menu-active-bg-hover') !important;
    }
  }
}

@mixin sider_direction($type, $value) {
  #{$type}: $value !important;
}


.ant {
  &-layout {
    &-rtl {
      .app {
        &-sider {
          &.collapsed {
            ~ .app {
              &-content {
                margin-right: $side-width-collapsed !important;
                margin-left: 0 !important;
              }
            }
          }
        }

        &-content {
          margin-left: 0 !important;
          //margin-right: 0 !important;
          margin-right: $side-width !important;
        }
      }
    }
  }
}


.app {
  @apply relative min-h-screen h-full;

  &.page {
    .has-container{
      .app-content__content{
        > div {
          @apply mx-auto w-full flex-1;
          max-width: $container !important;
        }
      }
    }

    &:where(.app-content__footer) {
      .app {
        &-content {
          &__content {
            padding-bottom: calc($padding-content * 2);
          }

          :where(.app-content__footer) {
            margin-top: calc($padding-content * 2) !important;
          }
        }
      }
    }

  }

  &.without-sider {
    .app {
      &-content {
        margin: 0 !important;
      }
    }
  }

  &-sider {
    z-index: 99;

    &.collapsed {
      transition: .2s $transition-easy-in-out;
      width: $side-width-collapsed !important;
      max-width: $side-width-collapsed !important;
      min-width: $side-width-collapsed !important;

      ~ .app {
        &-content {
          transition: .2s $transition-easy-in-out;
          @media screen and (min-width: 769px) {
            margin-left: $side-width-collapsed !important;
          }
          @media screen and (max-width: 768px) {
            .app {
              &-content {
                :where(.ant-layout-rtl) & {
                  margin-right: 0;
                }

                :not(.ant-layout-rtl) & {
                  margin-left: 0;
                }
              }
            }
          }
        }
      }
    }
  }


  &-main {
    &-has-topbar {
      .app {
        &-content {
          &__content {
            margin-top: $top-bar;
          }
        }
      }
    }

    &.without-header {
      @apply min-h-screen h-screen pt-0 #{!important};
    }

    min-height: calc(100vh - $top-height) !important;
    padding-top: $top-height !important;
  }

  &-content {
    @apply pb-0 flex flex-col;

    padding: $padding-content;
    transition: .2s $transition-easy-in-out;
    margin-left: $side-width !important;

    &.has-container {
      > div {
        &:not(.page-header) {
          @apply mx-auto w-full flex-1;
          max-width: $container !important;
        }
      }

      &:not(.page-header) {
        > div {
          @apply mx-auto w-full flex-1;
          max-width: $container !important;
        }
      }
    }
    &.has-footer{
      padding-bottom: 0;
      .app-content__content{
        padding-bottom: $padding-content;
      }

    }

    &-full{
      @apply relative;
      min-height: calc(100% + ($padding-content*2));
      width: calc(100% + ($padding-content*2));
      margin: -$padding-content;
    }

    &__content {
      @apply w-full flex-1;
      height: 100%;

      > div {
        @apply flex-1 h-full flex flex-col space-y-2;
        min-height: 100%;
      }

      @include themify($themes) {
        background: themed('body') !important;
      }
      transition-timing-function: $transition-easy-in-out;
      &.no-footer {
        min-height: 100% !important;
        //padding-bottom: $padding-content;
      }

      min-height: calc(100% - $footer-height);
    }

    &__footer {
      @apply relative p-0;
      &.has-container {
        > div {
          @apply mx-auto;
          max-width: $container !important;
        }
      }

      @include themify($themes) {
        background: themed('footer-background');
        * {
          color: themed('paragraph');
        }
      }
      width: calc(100% + calc($padding-content * 2));
      height: $footer-height;
      margin-right: -$padding-content;
      margin-left: -$padding-content;
    }
  }

  &-header {
    @apply top-0 left-0 p-0 fixed;
    z-index: 99;
    height: $top-height !important;
    width: 100%;
    @include themify($themes) {
      background: themed('header-background') !important;
      border-bottom: 1px solid themed('border-dashboard');
      box-shadow: 0 0 10px themed('border-dashboard');
      * {
        color: themed('text')
      }
    }


    &-topbar {
      z-index: 99;
      height: $top-bar;
      position: fixed;
      top: 60px;
      width: 100%;
    }

    &.has-container, &.page {
      .nav {
        @apply mx-auto;
        max-width: $container !important;
        &-right {
        }

        &-left {
          width: $side-width !important;
          min-width: $side-width;

          > div {
            width: 100% !important;
            @apply px-0 justify-start flex flex-nowrap;
          }
        }
      }
    }

    &.sider-collapsed {
      &:where(:not(.has-container)) {
        .nav {
          &-left {
            width: $side-width-collapsed !important;
          }
        }
      }

    }

    .nav {
      margin: 0;
      height: 100%;

      &-left {
        @media screen and (min-width: 0px) and (max-width: 767px) {
          display: none !important;
        }
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $side-width;
        transition: .2s $transition-easy-in-out;
      }

      &-right {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 7px 14px;
        flex: 1;
      }
    }
  }
}


//menu
.app {
  &-sider {
    transition: .2s $transition-easy-in-out;
    position: fixed;
    height: calc(100% - $top-height);
    width: $side-width !important;
    max-width: $side-width !important;
    min-width: $side-width !important;

    &-children {
      width: 100%;
      height: 100% !important;
      flex: 1 !important;
    }

    @include themify($themes) {
      background: themed('sider-background') !important;
      border-right: 1px solid darken(themed('sider-background'), 2);
    }
    @include submenu;
    @include ant-menus;

    &.collapsed {
      .ant {
        &-menu {
          &-item {
            &-group {
              margin-bottom: 0 !important;

              &-title {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

.ant-color-picker-trigger-text {
  font-size: 14px !important;
}

.page {
  &-header {
    &-alt {
      width: calc(100% + calc($padding-content * 2));
      padding: $padding-content;
      background: white;
      margin-left: -$padding-content;
      margin-right: -$padding-content;
      margin-top: -$padding-content;
    }
  }
}
