$height-toolbar: 40px;

.yid{
  &-frame{
    overflow: hidden;
    border-radius: 15px;
    @include themify($themes){
      border:1px solid lighten(themed('header-background'), 10) !important;
    }

    &.fullscreen{
      .yid-frame{
        overflow: hidden !important;
        &-toolbar{
          position: fixed;
          top:0 !important;
          left: 0;
          width: 100%;
          border-radius: 15px 15px 0 0;
        }
        &-content{
          margin-top: calc($height-toolbar - 2px);
          height: calc(100vh - $height-toolbar - 2px) !important;
          overflow-y: auto;
          iframe{
            height: calc(100vh - $height-toolbar - 2px) !important;
          }
        }
      }
    }
    &-action{
      height: 12px;
      width: 12px;
      border-radius: 100%;
    }
    &-close, &-minimize, &-fullscreen{
      cursor: pointer;
    }
    &-close{
      background: $color-error;
    }
    &-minimize{
      background: $color-warning;
    }
    &-fullscreen{
      background: $color-success;
    }
    &-nav{
      &-right, &-left{
        display: flex;
        align-items: center;
        column-gap: 6px;
      }
    }
    &-footer{
      padding: 20px;
      @include themify($themes){
        background: themed('header-background') !important;
        border-top: 1px solid lighten(themed('header-background'), 10) !important;
      }
    }
    &-toolbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      column-gap: 6px;
      height: 40px;

      @include themify($themes){
        background: themed('header-background') !important;
      }
    }
    &-content{
      min-height: 100px;
      width: 100%;

      iframe{
        width: 100% !important;
      }
    }
  }
}
