$padding-page-header: 2.25rem;


.has-container{
  .page{
    &-header{
      position: relative;
      width: 100vw;
      right: calc(calc(100vw - $container) /2);
    }
  }
}
.page {
  &-header {
    &-alt{
      padding-top: $padding-page-header;
      padding-bottom: $padding-page-header;
      @include themify($themes) {
        background: themed('page-header-alt-background') !important;
      }
    }
  }
}
