$padding-page-header: 2.25rem;


.has-container{
  .page{
    &-header{
      position: relative;
      left: 0!important;
      &-alt{
        z-index: 1;
        position: relative;
        &:before{
          @include themify($themes) {
            background: themed('page-header-alt-background');
          }
          z-index: -1;
          content: '';
          position: absolute;
          top:0;
          height: 100%;
          width: 100vw;
          left: 50%; /* Letakkan di tengah */
          transform: translateX(-50%); /* Geser ke kiri setengah dari lebar elemen untuk memusatkan */
        }
      }
    }
  }
}
.page {
  &-header {
    &-content{
      @apply w-full;
    }
    &-alt{
      padding-top: $padding-page-header;
      padding-bottom: $padding-page-header;
      @apply w-full;

      @include themify($themes) {
        background: themed('page-header-alt-background');
      }

      &--left{
        @apply w-full;
      }
      &--content{
        @apply w-full
      }
    }
  }
}
