
$row-color: (
  'success',
  "danger",
  "info",
  "warning"
);

.ant {
  &-table {
    &-container{
      overflow: hidden;
    }
    &-bordered{
      .ant{
        &-table{

          &-thead{
            tr{
              th{
                font-family:  'sf-pro-regular',"sans-serif", system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji" !important;
                @include themify($themes) {
                  background: darken(themed('table-header'),2) !important;
                }
              }
            }
          }
          &-cell, &-container{
            @include themify($themes){
              border: .5px solid themed('table-bordered') !important;
            }
          }
          &-cell{
            &-fix{
              &-right, &-right-first,&-left, &-left-first{
                border-inline-end: 1px solid transparent !important;
              }
            }
          }
        }
      }
    }
    @include themify($themes) {
      background: themed('card-background') !important;
    }
    &-wrapper, &-tbody, &-placeholder {
      @include themify($themes) {
        background: themed('card-background') !important;
      }
    }

    &-row{
      .ant{
        &-table{
          &-cell {
            @include themify($themes) {
              color: themed('paragraph') !important;
            }
          }
        }
      }
      @each $key, $color in $row-color {
        &.#{$key}{
          transition: .2s;
          &:hover{
            @include themify($themes) {
              background: themed($key) !important;
            }
            transition: .2s;
          }
          > td {
            @include themify($themes) {
              background: themed($key) !important;
            }
            transition: .2s;
          }
        }
      }

    }

    &-ping{
      &-right{
        .ant-table{
          &-cell{
            &-fix{
              &-right-first{
                transition:.2s;
                @include themify($themes) {
                  box-shadow: -14px 6px 20px darken(themed('table-header'), 4) !important;
                }
              }
              &-left, &-right{
                &-last{
                  transition:.2s;
                }
              }
            }
          }
        }
      }
      &-left{
        .ant-table{
          &-cell{
            &-fix{
              &-left{
                &-last{
                  transition:.2s;
                  @include themify($themes) {
                    box-shadow: 14px 6px 20px darken(themed('table-header'), 4) !important;
                  }
                }
              }
            }
          }
        }
      }
    }
    &-scroll{
      &-horizontal{

      }
    }

    &-row{
      @include themify($themes) {
        background: themed('card-background') !important;
      }
      &:hover{
        //@include themify($themes) {
        //  background: darken(themed('card-background'),10) !important;
        //}
        transition: .2s;
      }
    }

    &-cell, &-content, &-container {
      @include themify($themes) {
        background: themed('card-background') !important;
      }
      > div {
        //background: transparent !important;
        @include themify($themes) {
          background: themed('card-background');
        }
     }
    }

    &-thead {

      tr {
        th {
          &.ant{
            &-table{
              &-cell {
                @include themify($themes) {
                  color: themed('text') !important;
                }
              }
            }
          }
          @include themify($themes) {
            background: darken(themed('table-header'),2) !important;
          }
        }
      }
    }
  }
}
