$color-primary: #7578ed;
$color-active: #494cc6;
$color-error: #ee5757;
$color-warning: #ffc362;
$color-success: #49f17b;
$color-info: #4962f1;
$color-white: #FFF;

$color-table-row-success: #cbffd3;
$color-table-row-warning: #ffe8cb;
$color-table-row-info: #dde7ff;
$color-table-row-error: #ffcbcb;

$bg-layout: #eef1f3;
$bg-layout-dark: #1B2531;
$bg-sider-layout: #283142;
$bg-primary-light: #20232a;
$text-primary-light: #92a2f1;
$bg-sider-main: darken($bg-layout, 40);

$bg-chat-list-item-active: #2e333d;

$text-paragraph: lighten(#3e465d, 10);
$text-paragraph-dark: #afb8d4;

$text-color: #2d4056;
$text-color-placeholder: #b5b5b5;
$text-color-placeholder-dark: #2d3c4f;
$text-color-dark: #dae1ee;

$bg-body-dark: $bg-layout-dark;
$bg-header: $color-white;
$bg-header-dark: #283142;
$bg-sider: $color-white;
$bg-sider-dark: $bg-sider-layout;
$bg-footer: $color-white;
$bg-footer-dark: $bg-body-dark;


$bg-input: #fff;
$bg-input-dark: #121921;

$bg-drawer: $color-white;
$bg-drawer-dark: $bg-sider-layout;

$bg-card: $color-white;
$bg-card-dark: $bg-sider-layout;

$bg-table-header: #ffffff;
$table-bordered: rgba(198, 198, 198, 0.33);
$table-bordered-dark: #152234;
$bg-table-header-dark: #243040;

$button-border-default: #D9D9D9;
$button-disabled: rgba(243, 243, 243, 0.3);
$button-disabled-border: #D9E1EE;
$button-disabled-color: #D9E1EE;
$button-disabled-dark: #48556e;
$button-disabled-dark-border: #6c7a91;
$button-disabled-dark-color: #6c7a91;

$menu-color: #5a6a8a;
$menu-color-dark: #b2c3d9;
$menu-color-group-title: #8d9dae;
$menu-color-group-title-dark: #445472;
