$header-height: 80px;
$side-nav-width-folded: 80px;

$top-height: 60px;
$top-bar: 60px;
$side-width: 320px;
$side-width-collapsed: 70px;
$footer-height: 60px;

$padding-content: 20px;


$transition-easy-in-out: cubic-bezier(0.19, 1, 0.22, 1);

