$header-height: 80px;
$side-nav-width-folded: 80px;

$top-height: 60px;
$side-width: 260px;
$side-width-collapsed: 70px;
$footer-height: 60px;

$transition-easy-in-out: cubic-bezier(0.19, 1, 0.22, 1);

